@{
    Layout = null;
}
<!doctype html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <title>POD BOOKING</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/img/logo.ico">
    <!-- GOOGLE FONTS CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
    <!-- FONT AWESOME CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/profileUsers.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logoArea">
                <a href="@Url.Action("Dashboard", "Admin")" class="image"><img src="~/img/logo2.png" alt="POD Booking Logo"></a>
                <a href="@Url.Action("Dashboard", "Admin")" class="siteName">
                    <h1><span class="highlight">POD</span> BOOKING</h1>
                </a>
            </div>

            <!-- Profile Icon -->
            <a href="@Url.Action("ProfileAdmin", "Admin")">
                <div class="profile">
                    <img src="~/img/profil-logo.jpg" alt="Profile Icon">
                </div>
            </a>
        </div>
    </header>

    <main>
        <form asp-action="Create" asp-controller="Admin">
            <label for="username">Tên người dùng:</label>
            <input type="text" id="username" name="Username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="Email" required>

            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="Password" required>

            <label for="role">Quyền:</label>
            <select id="role" name="Role" required>
                <option value="user">User</option>
                <option value="staff">Staff</option>
                <option value="manager">Manager</option>
                <option value="customer">Customer</option>
            </select>

            <button type="submit">Tạo Tài Khoản</button>
        </form>
    </main>


    <script src="~/js/profileUsers.js"></script>
    <script src="~/js/profileHeader.js"></script>

</body>
</html>