
body {
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/background1.jpg");
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #4070f4;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

    header h1 {
        color: #fff;
        font-size: 2.4rem;
        margin: 0;
    }

.main-container {
    max-width: 600px;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .main-container p {
        font-size: 1.6rem;
        color: #333;
        margin-bottom: 1.5rem;
    }

.button-container {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    margin-top: 20px;
}

/* Nút Thanh Toán */
.payment-button {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

    .payment-button:hover {
        background-color: #218838;
        transform: translateY(-4px); 
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
    }

    .payment-button:active {
        transform: translateY(2px); 
    }

/* Home */
.home-button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #4070f4;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

    .home-button:hover {
        background-color: #3050c4;
    }

/* footer */
footer {
    margin-top: auto;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}
