@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <title>POD BOOKING</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="~/img/logo.ico">
    <link rel="stylesheet" href="~/css/success.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Đặt Phòng Thành Công!</h1>
        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="box">
                <p>Cảm ơn bạn đã sử dụng dịch vụ của POD Booking!</p>
                <p>Vui lòng thanh toán để sử dụng dịch vụ của chúng tôi 😘</p>

                <div class="button-container">
                    <button type="button" class="payment-button" onclick="showPaymentDetails(this)">
                        Thanh Toán
                    </button>
                    
                    <a href="~/" class="home-button">Trở về Trang Chủ</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        
    </footer>

    <script src="~/js/payment.js"></script>
    <script src="~/js/payment1.js"></script>
</body>
</html>
